@import url(//fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dark-rating {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
}

#dark-rating.rating-stars {
    color: rgb(255, 255, 67);
    font-size: 40px;
}

#light-rating.rating-stars {
    color: rgb(255, 255, 85);
    font-size: 40px;
}

#light-rating.empty-star {
    opacity: 1; 
    color: rgb(200, 200, 200); 
    font-size: 40px;
}

#dark-rating.empty-star {
    opacity: 0.2; 
    color: white; 
    font-size: 40px;
}

.new-rating-screen-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
}

.create-rating-gym-name {
    width: 90%;
    color: black;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.create-rating-gym-location {
    width: 90%;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 15rem;
    width: 50vw;
    background-color: rgb(234, 234, 234);
    margin-bottom: 1rem;
    box-shadow: 1px 1px 6px 0px #616161;
}

#dark-rating.rating {
    box-shadow: 2px 2px 8px 2px #0e0e0e;
}

.text-area {
    max-width: 80%;
    width: 100%;
    height: 80%;
    margin-top: 1rem;
    font-size: 20px;
    resize: none;
}

#dark-rating.text-area {
    background-color: #272727;
    border-color: #272727;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 50vw;
    margin-bottom: 10vh;
    color: black;
    font-weight: bold;
    background-color: rgb(234, 234, 234);
    box-shadow: 1px 1px 6px 0px #616161;
}

#dark-rating.submit-container {
    box-shadow: 2px 2px 8px 2px #0e0e0e;
}

@media screen and (max-width:800px) {
    .rating {
        width: 80vw;
    }

    .submit-container {
        width: 80vw;
    }

    .text-area {
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    .text-area {
        font-size: 12px;
    }
}


